version: '3.8'
services:

  nginx:
    build:
      context: .
      dockerfile: "Dockerfile.nginx"
    container_name: wb_app_nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    links:
      - main_app

  main_app:
      image: "${CONTAINER_NAME:-tg_bot-container}"
      build:
        context: .
      container_name: "${CONTAINER_NAME:-tg_bot-container}"
      restart: always
      env_file:
        - .env
#      volumes:
#        - "./certs:/usr/src/certs"
      command: sh -c "gunicorn main:app  --workers 4 --worker-class uvicorn.workers.UvicornWorker --bind=0.0.0.0:8000"
