<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WB_PRADO :: {% block title %}{% endblock title %}</title>
    <link rel="icon" href="/static/site_icon.ico">
</head>
<body>
    <header>
        <div>
            <h1>WB_PRADO_DASHBOARD</h1>
        </div>
        <div>
            
        </div>
        <nav>
            <a href="/">Главная</a> | 
            <a href="/sales_report">Отчёт по реализации</a> |
            <a href="/active_orders">Активные заказы</a> |
            <a href="/products?warehouse_id=0">Остатки и цены</a> 
        </nav>
    </header>
    <br>

    {% block content %}{% endblock %}
    
</body>
</html>