{% extends 'base.html' %}
{% block title %}
    Отчёт по реализации
{% endblock title %}
{% block content %}
    <table border="1" align="center">
        <tr>
            <th>Номер</th>
            <th>Отгружено</th>
            <th>В системе WB</th>
            <th>Реализовано</th>
        </tr>

        {% for item in data %}
            <tr>
                <td>{{ item.article }}</td>
                <td>
                    {% if item.loaded_sum is not none %}
                        {{ item.loaded_sum }} ₽ ({{ item.loaded_positions }} шт)
                    {% else %}
                        0 ₽ ({{ item.loaded_positions }} шт)
                    {% endif %}
                </td>
                <td>
                    {% if item.in_system_sum is not none %}
                        {{ item.in_system_sum }} ₽ ({{ item.in_system_positions }} шт)
                    {% else %}
                        0 ₽ ({{ item.in_system_positions }} шт)
                    {% endif %}
                </td>
                <td>
                    {% if item.sold_sum is not none %}
                        {{ item.sold_sum }} ₽ ({{ item.sold_positions }} шт)
                    {% else %}
                        0 ₽ ({{ item.sold_positions }} шт)
                    {% endif %}
                </td>
            </tr>
            
        {% endfor %}

        <tfoot>
            <td><b>ИТОГО:</b></td>
            <td><b>{{ loaded_total_data.sum }} ₽ ({{ loaded_total_data.count }} шт)</b></td>
            <td><b>{{ in_system_total_data.sum }} ₽ ({{ in_system_total_data.count }} шт)</b></td>
            <td><b>{{ sold_total_data.sum }} ₽ ({{ sold_total_data.count }} шт)</b></td>
        </tfoot>
        
        
    </table>
{% endblock content %}